html,body {
    margin:0;
    padding:0;
}

nav a {
  font-family: cursive;
  margin-right: 10px;
  font-size: 20px;
}

nav .navbar-brand {
  font-size: 2.5rem;
}

/* START OF IMAGE-SECTION */
#about-section {
  background-image: url("https://i.postimg.cc/85vqNLhW/abstract.jpg");
  background-size: cover !important;
  height: 700px;
  position: relative;
  text-align: center;
}

#about-section:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
#about-section .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-section .text h1 {
  color: #FFF !important;
  font-size: 4rem;
  text-shadow: 1px 1px #000000;
  opacity: 1.0;
  padding-bottom: 15px;
}

#about-section .text p {
  color: #FFF !important;
  font-size: 1.5rem;
  word-spacing: 1px;
  text-shadow: 1px 1px #000000;
  opacity: 1.0;
}
/* END OF IMAGE-SECTION */


/* START OF EXPERIENCE-SECTION */
#experience-section {
  background-image: url("https://i.postimg.cc/FFj26gFX/windows.jpg");
  background-size: cover !important;
  height: 550px;
  position: relative;
  text-align: center;
}

#experience-section:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
}

#experience-section .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#experience-section .text h1 {
  color: #282828 !important;
  text-shadow: 1px 1px #FFF;
  opacity: 1.0;
}

#experience-section .text p {
  color: #282828 !important;
  text-shadow: 0.5px 0.5px #FFF;
  opacity: 1.0;
}
/* END OF EXPERIENCE-SECTION */


/* START OF WORK-SECTION */
#work-section {
  background-image: url("https://i.postimg.cc/QtzRr09j/shop.jpg");
  background-size: cover !important;
  padding-top: 100px;
  padding-bottom: 50px;
  width: 100%;
  position: relative;
  text-align: center;
}

#work-section:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

#work-section .container .writing {
  padding-top: 50px;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.0);
}

#work-section .container .writing h1 {
  color: #FFF !important;
  text-shadow: 1px 1px #000000;
}

#work-section .container .writing p {
  color: #FFF !important;
  text-shadow: 1px 1px #000000;
  opacity: 1.0;
}
/* END OF WORK-SECTION */

/* START OF CALL-TO-ACTION-SECTION */
#call-to-action-section {
  background-image: url("https://i.postimg.cc/3NS665Sn/iphone.jpg");
  background-size: cover !important;
  height: 550px;
  position: relative;
  text-align: center;
}

#call-to-action-section:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
}

#call-to-action-section .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#call-to-action-section .text h1 {
  color: #282828 !important;
  text-shadow: 1px 1px #FFF;
  opacity: 1.0;
  margin-bottom: 19px;
}

#call-to-action-section .text h5 {
  font-size: 12px;
}

#call-to-action-section .text p {
  color: #282828 !important;
  text-shadow: 0.5px 0.5px #FFF;
  opacity: 1.0;
  margin-bottom: 1px;
}

#call-to-action-section .text a {
  margin-top: 0px;
	color: #000000;
  text-shadow: 1px 1px #7F8C8D;
  padding: 0 0 8px 0;
  font-size: 25px;
  font-style: italic;
}

#call-to-action-section .text a:hover {
	text-decoration:none;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}

/* END OF CALL-TO-ACTION-SECTION */

/* START OF FOOTER */
.full {
    width: 100%;
}

.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}

#footer {
	background: #282828;
	height: auto;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

#footer .container {
 margin-left: 20px;
}

#footer p {
	margin: 0;
}

#footer img {
	max-width: 100%;
}

#footer h3 {
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 0px;
	text-transform: uppercase;
  margin-bottom: 15px;
}

#footer h4 {
	color: white;
	font-size: 2rem;
	font-weight: 600;
	line-height: 38px;
	padding: 40px 0 10px;
	font-family: cursive;
  font-weight: lighter
}

#footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0px;
	color: #7F8C8D;
  padding: 0 0 8px 0;
}

#footer .container .row .contact-links .email{
  border-bottom: 3px solid #fff;
}

#footer ul li a {
	padding: 0 0 12px 0;
	display: block;
}

#footer a {
	color: white;
  font-weight: lighter;
}

#footer p {
	color: #78828D;
  font-weight: lighter;
}

#footer a:hover {
	text-decoration:none;
  font-weight: bold;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}


.footer-bottom {
	padding-top: 5px;
	padding-bottom: 10px;
}
.footer-bottom p.copyright {
	padding-top: 10px;
  font-size: 0.75em;
  text-align: center;
}
/* END OF FOOTER */







/*****************************
START OF MEDIA QUERIES
***************************/


/* Smartphones (landscape) ----------- */
@media only screen
and (max-width: 709px) {
/* Styles */

}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 710px) {
  #about-section {
    /* background-color: red!important; */
    height: 500px;
    margin-bottom: 0px;
  }
  #about-section .text h1 {
    font-size: 2rem;
    padding-bottom: 0px;
  }
  #about-section .text p {
    color: #FFF !important;
    font-size: 15px;
    word-spacing: 0.5px;
    text-shadow: 1px 1px #000000;
    opacity: 1.0;
  }

  #call-to-action-section {
    /* background-color: red!important; */
    height: 500px;
    margin-bottom: 0px;
  }
  #call-to-action-section .text h1 {
    font-size: 2rem;
    padding-bottom: 0px;
  }
  #call-to-action-section .text p {
    font-size: 15px;
    word-spacing: 0.5px;
  }
  #call-to-action-section .text a {
    font-size: 20px;
  }


  #footer .container-fluid .row div{
   /* background-color: red; */
   text-align: center !important;
  }

  #footer .container-fluid .row .bottom-links ul li h5 {
    /* padding-bottom: 30px; */

  }
}



/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
